//SECTION: Modals
.action__modal {
  .el-dialog__header {
    margin-right: 0;
    border-bottom: 1px solid #dedede;
  }
}


//SECTION Drawer
.interface__drawer {
  .el-drawer__header {
  margin: 0;
  padding: 0;
  }
}
