.d-flex {
  display: flex;

  [col='6'] {
    flex-basis: 50%;
  }

  &[align='--center'] {
    align-items: center;
  }

  &[justify='--space-between'] {
    justify-content: space-between;
  }
}

[flex-grow="1"] {
  flex-grow: 1;
}


.text {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}