.d-flex {
  display: flex;

  &.wrapped {
    flex-wrap: wrap;
  }
  &.column {
    flex-direction: column;
  }

    [col='1'] {
      flex-basis: 8.33%;
  
      &.gaps & {
        flex-basis: calc(8.33% - 2rem);
      }
    }
  
  [col='3'] {
    flex-basis: 25%;
    &.gaps & {
        flex-basis: calc(25% - 2rem);
    }
  }

  [col='6'] {
        flex-basis: 50%;
      &.gaps {
          flex-basis: calc(50% - 2rem);
    }
  }

  [col='9'] {
    flex-basis: 75%;
    &.gaps {
      flex-basis: calc(75% - 2rem);
    }
  }

  [col='12'] {
    flex-basis: 100%;
      &.gaps {
          flex-basis: calc(100% - 2rem);
        }
  }

  &[align='--center'] {
    align-items: center;
  }

  &[align='--end'] {
    align-items: end;
  }

  &[justify='--space-between'] {
    justify-content: space-between;
  }
}

[flex-grow="1"] {
  flex-grow: 1;
}


.text {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}